/* App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  background-color: #dfceb2;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.sidebar{
  background-color: #7f552f !important;
  font: 100;
  display: flow-root;
  
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  font-size: calc(20px + 2vmin);
  color: #084a58;
}

.App-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  margin-top: 20px;
  color: #084a58;
}
