/* .sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgba(190, 170, 146);
    user-select: none;
}

.sidebar ul {
    text-align: center; 
}

.sidebar a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    background: rgb(159, 132, 100);
    color: rgb(42, 108, 162);
    box-sizing: border-box;
    border-top: 1px solid;
    border-bottom: 1px solid black;
    transition: .4s;
} 
*/

.p {
    display: flex;
    justify-content: end;
    align-items: end;
    height: "100%";
}

.sidebar item:hover {
    padding-left: 50px;
}
