/* App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #dfceb2;
}

.Page {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: calc(20px + 2vmin);
  color: #084a58;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  margin-top: 20px;
  color: #084a58;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.icon-links {
  color: #7f552f;
  font-size: 50px;
  padding: 0 25px;
}

.sidebar {
  background-color: #7f552f !important;
  font: 100;
  height: 100vh;
  display: flow-root;
}

.atext {
  margin-bottom: 20px;
  line-height: 1.4;
  display: flex;
  flex-direction: row; /* Change to row to align photo and text horizontally */
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  margin-top: 20px;
  color: #084a58;
}

.photo {
  border-radius: 8px;
  max-width: 100%; /* Ensure the photo doesn't exceed its container width */
  margin-right: 60px; 
 
  width: 500px;
}
